* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
}

.main-content {
    display: flex;
    gap: 50px;
    align-items: center;
    width: 1100px;
}

.description {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
}

section.offer {
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    padding: 15px 0;
    border-radius: 8px;
    filter: drop-shadow(0 6px 0px rgba(0, 0, 0, 0.15));
    cursor: pointer;
}

section.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    filter: drop-shadow(0 6px 0px rgba(0, 0, 0, 0.15));
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: none;
    border-radius: 8px;
    background-color: white;
}

legend {
    display: none;
}

label {
    color: hsl(249, 10%, 26%);
    font-size: 12px;
}

input {
    padding: 15px 30px;
    border: solid;
    border-color: hsl(246, 25%, 77%);
    border-width: 1px;
    color: hsl(249, 10%, 26%);
    border-radius: 4px;
    font-weight: bold;
}

button {
    border: none;
    border-radius: 4px;
    padding: 15px 0;
    margin-bottom: 20px;
    background-color: hsl(154, 59%, 51%);
    text-transform: uppercase;
    cursor: pointer;
    filter: drop-shadow(0 4px 0px rgba(43, 158, 104, 0.75));
}

button:hover {
    background-color: hsl(154, 59%, 70%);
}

h1 {
    font-size: 48px;
    line-height: 56px;
}

p {
    font-size: 16px;
}

h6 {
    color: hsl(246, 25%, 77%);
    text-align: center;
    margin-bottom: 10px;
}

strong {
    color: hsl(0, 100%, 74%);
    cursor: pointer;
}

span {
    text-align: right;
    margin-bottom: 20px;
    color: red;
    font-size: 11px;
    font-style: italic;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}